.main-title {
    left: 76px;
    top: 37px;
    position: absolute;
    color: #06152B;
    font-size: 27.07px;
    font-family: DM Sans;
    font-weight: 700;
    
}
.main-logo{
    padding-right: 20px;
    
}

.login-class{
    background: #F1F4FA;
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-login {
    width: 500px;
    /*DONT EVER CHANGE*/
    height: 70vh;
    /*DONT EVER CHANGE*/
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.login-label {
    font-size: 28.07px;
    font-weight: bold;

}
.login-label {
    --c: #7D3C98; /* the color  */
    --h: 1.2em;   /* the height */
    
    line-height: var(--h);
    background: 
      linear-gradient(var(--c) 0 0) no-repeat 
      calc(200% - var(--_p,0%)) 100%/200% var(--_p,.08em);
    color: #0000;
    overflow: hidden;
    text-shadow: 
      0 calc(-1*var(--_t,0em)) var(--c), 
      0 calc(var(--h) - var(--_t,0em)) #fff;
    transition: .3s var(--_s,0s), background-position .3s calc(.3s - var(--_s,0s));
  }
  .login-label:hover {
    --_t: var(--h);
    --_p: 100%;
    --_s: .3s
  }


.UserName-label {
    color: #06152B;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
}

.Password-label {
    color: #06152B;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
}

.UserName-Input {
    width: 465px;
    height: 46px;
    border-radius: 25px;
    background: #F0EEEE;
    border: transparent;
    
}

.UserPassword-Input {
    width: 465px;
    height: 46px;
    border-radius: 25px;
    background: #F0EEEE;
    border: transparent;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.Signup-btn {
    width: 173px;
    height: 46px;
    border-radius: 20px;
}

.ForgotPassword-btn {
    width: 187px;
    height: 46px;
    border-radius: 20px;
    background: #06152B;
    color: #FFFFFF;
}

.btn-grp{
    margin:20px 0 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
