<div class="main-title">
    <img class="main-logo" src="./assets/mainLogo.png">
    Dashboard
</div>
<div class="main-login">
    <!-- <div class="user-field" > -->
        <h1 class="login-label">Login</h1>
        <h1 class="UserName-label">User Name</h1>
        <input class="UserName-Input" placeholder="Enter UserName" type="text" name ="UserName" >
        <h1 class="Password-label">Password</h1>
        <input class="UserPassword-Input" placeholder="Enter Password" type="password" name="Password"  >
        <div class="btn-grp">
            <button class="btn btn-primary Signup-btn">Signup</button>
            <button class="ForgotPassword-btn">Forgot Password</button>
        </div>
</div>