<mat-form-field class="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
   <select class="form-select" aria-label="Default select example" ngModel name="extension" >
      <option value="" disabled >Select an Option</option>
      <option >Adminstration</option>
      <option>Manufacturing</option>
      <option>Procurement</option>
      <option>Sales</option>
    </select>

<div class="example-container mat-elevation-z8 ipList-container">
  <mat-table class="ipList-table" #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="empID">
      <mat-header-cell *matHeaderCellDef> Emp ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.empID}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deviceType">
      <mat-header-cell *matHeaderCellDef> Device Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.deviceType}} </mat-cell>
    </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="ipaddress">
          <mat-header-cell *matHeaderCellDef> IP Address </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ipaddress}} </mat-cell>
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
