.show{

    top:-10px;
    left:0;
    right:0;
    position: fixed;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 20px;
    margin:20px auto 0px auto;
    width: 450px;
    height: 50px;
    animation: pop-up linear 3s normal;

}