<!-- <form class="main-login" #form="ngForm" (submit)="loginDataTransfer(form)">
        <h1 class="login-label">Login</h1>
        <h1 class="UserName-label">User Name</h1>
        <input class="UserName-Input" placeholder="Enter UserName"  ngModel type="text" name ="UserName" >
        <h1 class="Password-label">Password</h1>
        <input class="UserPassword-Input" placeholder="Enter Password" ngModel type="password" name="Password"  >
        <div class="btn-grp">
            <button class="btn btn-primary Signup-btn" type="submit" routerLink="../../homePage">Sign In</button>
            <button class="ForgotPassword-btn" routerLink="../forgotPass">Forgot Password</button>
        </div>
        <a class="Password-label" routerLink="../signUp">Create a New Account</a>  change class here #
    </form> -->
      <title>Login</title>
        <section>
            <div class="page-title">
                <img src="../../../assets/mainLogo.png"  class="page-logo">INSIGHT
            </div>
            <div class="form-box">
                <div class="form-value">
                    <form action="" #form="ngForm" (submit)="loginDataTransfer(form)">
                        <h2>Login</h2>
                        <div class="inputbox">
                            <ion-icon name="person-outline"></ion-icon>
                            <input type="text" required ngModel type="text" name ="UserName">
                            <label for="">User Name</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" required ngModel type="password" name="Password">
                            <label for="">Password</label>
                        </div>
                        <div class="forget">
                            <a routerLink="../forgotPass">Forget Password</a>
                          
                        </div>
                        <button class="login-btn" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </section>
