<div [ngClass]="statusClass">
    <div [innerText] = "statusText">
    </div>
</div>
<!-- 
<form class="sign-up-form" #form="ngForm" (submit)="signup(form)">
        <h1 class="form-title">Create Account</h1>
        <h1 class="form-label">Name</h1>
        <input class="custom-Input alert" placeholder="Enter Name"  ngModel type="text" name ="Name" required="true">
        <h1 class="form-label">Email Address</h1>
        <input class="custom-Input" placeholder="Enter Email Address"  ngModel type="text" name ="EmailAddress" required="true" >
        <h1 class="form-label">User Name</h1>
        <input class="custom-Input" placeholder="Enter User Name"  ngModel type="text" name ="UserName"  required="true">
        <h1 class="form-label">Password</h1>
        <input class="custom-Input" placeholder="Enter Password" ngModel type="password" name="Password" required="true" >
        <div class="btn-grp">
            <button class="btn btn-primary  sign-up-btn" type="submit">Signup</button>
        </div>
</form> -->

<div [ngClass]="statusClass">
    <div [innerText] = "statusText">
    </div>
</div>
<title>Login</title>
<section>
    <div class="page-title">
        <img src="../../../assets/mainLogo.png"  class="page-logo">INSIGHT
    </div>
    <div class="form-box">
        <div class="form-value">
            <form action="" #form="ngForm" (submit)="signup(form)">
                <h2>Create User</h2>
                <div class="inputbox">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" required ngModel type="text" name ="Rmployee ID" required="true">
                    <label for="">Employee ID</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" required ngModel type="text" name ="EmailAddress" required="true">
                    <label for="">Name</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" required ngModel type="text" name ="EmailAddress" required="true">
                    <label for="">Email Id</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="person-add-outline"></ion-icon>
                    <input type="text" required ngModel type="text" name ="UserName"  required="true">
                    <label for="">User Name</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="text" required ngModel type="password" name="Password" required="true">
                    <label for="">Password</label>
                </div>
                <button class="login-btn">Sign Up</button>
            </form>
        </div>
    </div>
</section>