
<div class="body">
    <nav class="container-fluid header-nav">
        <div id="left">
            <img src="./assets/mainLogo.png" alt="main-logo">
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <ul id="right">
            <li class="git-icon"><a href="https://github.com/"><img src="./assets/GithubIcon.png" alt=""></a></li>
            <li><a href="#aboutUs-Section" class="about-heading">About</a></li>
            <li><a routerLink="/Login" class="login-heading">Login</a></li>
        </ul>
    </nav>
    
    <div class="tree-img">
        <div id="heading-div">
            <h1 id="heading">Building things is our mission.</h1>
        </div>
    </div>
    
    <div id="aboutUs-Section">
        <div class="aboutUs-img">
        </div>
        <div class="descrip">
            <h1 class="aboutUs-heading">About Us</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante urna, aliquet vel consequat et, condimentum id nunc. Donec ut convallis urna. Integer in vestibulum nisi. Ut placerat magna dictum nulla pharetra, posuere rutrum nisi pellentesque. Praesent pellentesque eu sem quis semper. 
            </p>
            <button class="aboutUs-btn">More About Us</button>
        </div>
    </div>
</div>
