<!-- 
<div class="body">
    <nav class="container-fluid header-nav">
        <div id="left">
            <img src="./assets/mainLogo.png" alt="main-logo">
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <ul id="right">
            <li class="git-icon"><a href="https://github.com/"><img src="./assets/GithubIcon.png" alt=""></a></li>
            <li><a href="#aboutUs-Section" class="about-heading">About</a></li>
            <li><a routerLink="/Login" class="login-heading">Login</a></li>
        </ul>
    </nav>
    
    <div class="tree-img">
        <div id="heading-div">
            <h1 id="heading">Building things is our mission.</h1>
        </div>
    </div>
    
    <div id="aboutUs-Section">
        <div class="aboutUs-img">
        </div>
        <div class="descrip">
            <h1 class="aboutUs-heading">About Us</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante urna, aliquet vel consequat et, condimentum id nunc. Donec ut convallis urna. Integer in vestibulum nisi. Ut placerat magna dictum nulla pharetra, posuere rutrum nisi pellentesque. Praesent pellentesque eu sem quis semper. 
            </p>
            <button class="aboutUs-btn">More About Us</button>
        </div>
    </div>
</div> -->


        <!--========== BOX ICONS ==========-->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <body>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
        </a>
        <div class="bg-img">
        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                
                <a href="#" class="nav__logo">INSIGHT</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#decoration" class="nav__link">About Us</a></li>
                        <li class="nav__item"><a routerLink="/Login" class="nav__link">Login</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__img">
                        <img src="../../assets/fiber-4814456_1280.jpg" alt="">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">Unleash the Power of Precision</h1>
                        <p class="home__description">A Digital Navigator to carefully steer your network through complexities of the digital landscape</p>
                        <a routerLink="/Login" class="button">Get Started</a>
                    </div>   
                </div>
            </section>

            <!--========== SHARE ==========-->
            <section class="share section bd-container" id="share">
                <div class="share__container bd-grid">
                    <div class="share__data">
                        <h2 class="section-title-center">Master Your Network's Destiny</h2>
                        <p class="share__description">The power to control and optimize your network's performance and future</p>
                    </div>

                    <div class="share__img">
                        <img src="../../assets/network-4851079_1920.jpg" alt="">
                    </div>
                </div>
            </section>

            <!--========== DECORATION ==========-->
            <section class="decoration section bd-container" id="decoration">
                <h2 class="section-title">Text here</h2>
                <div class="decoration__container bd-grid">
                    <div class="decoration__data">
                      
                        <h3 class="decoration__title">IP Allocation</h3>
                        <a href="#" class="button button-link">Text here</a>
                    </div>

                    <div class="decoration__data">
                       
                        <h3 class="decoration__title">IP Reservation</h3>
                        <a href="#" class="button button-link">Text here</a>
                    </div>

                    <div class="decoration__data">
                        
                        <h3 class="decoration__title">Compliance and Audit</h3>
                        <a href="#" class="button button-link">Text here</a>
                    </div>
                </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section">
            <div class="footer__container bd-container bd-grid">
                <div class="footer__content">
                    <h3 class="footer__title">
                        <a href="#" class="footer__logo">Insight</a>
                    </h3>
                    <p class="footer__description">IPAM Dashboard</p>
                </div>


                <div class="footer__content">
                    <h3 class="footer__title">More Info</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Blog</a></li>
                        <li><a href="#" class="footer__link">About us</a></li>
                        <li><a href="#" class="footer__link">Our mision</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Social</h3>
                    <a href="#" class="footer__social"><i class='bx bxl-github'></i></a>
                </div>
            </div>

            <p class="footer__copy">&#169; 2023 Insight. All right reserved</p>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <!-- <script src="main.ts"></script> -->
    </div>
    </body>