<div class="sidebar">
    <h1 class="main-title">Welcome Admin</h1>
    <div class="nav-element">
        <img class="sidebar-icons" src="../../assets/Home.png">
        <a class="sidebar-labels">Home</a>
    </div>

    <h1 class="main-title">Pages</h1>

    <div class="nav-element">
        <img class="sidebar-icons" src="../../assets/Request.png">
        <a class="sidebar-labels">Requests</a>
    </div>
    <div class="nav-element">
        <img class="sidebar-icons" src="../../assets/Details.png">
        <a class="sidebar-labels">Details</a>
    </div>

    <div class="nav-element">
        <img class="sidebar-icons" src="../../assets/Audit.png">
        <a class="sidebar-labels">Audit Log</a>
    </div>

    <div class="sidebar-icons" class="nav-element">
        <img class="sidebar-icons" src="../../assets/Profile.png">
        <a class="sidebar-labels">Profile</a>
    </div>
</div>