.form-title{
    font-size: 28.07px;
    font-weight: bold;
    font-family: Poppins;
}

.text{
    color: #06152B;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    /* padding: 20px; */
}

.custom-Input{
    font-family: Inter;
    border-radius: 8px;
    background: #F0EEEE;
    border: transparent;
}