<form class="main-login" #form="ngForm">
    <!-- <div class="user-field" > -->
        <h1 class="login-label">Forgot Password?</h1>
        
        <input class="UserName-Input" placeholder="Enter UserName"  ngModel type="text" name ="UserName" >
        <h1 class="Password-label">Password</h1>
        <input class="UserPassword-Input" placeholder="Enter Password" ngModel type="password" name="Password"  >
        <div class="btn-grp">
            <button class="ForgotPassword-btn" routerLink="./lo">Forgot Password</button>
        </div>
    </form>