<!-- <form class="main-login" #form="ngForm" (submit)="sendOtp()" *ngIf="!isforget">
        <h1 class="form-title">Forgot Password?</h1>

        <p class="text">Don’t worry! It happens. Please enter the email associated with your account.</p>
        <input class="custom-Input" placeholder="Enter Email Address" type="text" name ="VerificationEmailAddress" required="true" [(ngModel)]="emailid">

        <div class="btn-grp">
            <button class="btn btn-primary Signup-btn" type="submit" >Submit</button>
        </div>
    </form> -->
    <section>
        <div class="page-title">
            <img src="../../../assets/mainLogo.png"  class="page-logo">INSIGHT
        </div>
        <div class="form-box">
            <div class="form-value">
                <form action="" #form="ngForm" (submit)="sendOtp()" *ngIf="!isforget">
                    <h2>Forgot Password</h2>
                    <div class="forgot-text">
                        <p class="text">Don’t worry! It happens. Please enter the email associated with your account.</p>
                    </div>
                    <div class="mail-input">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" required ngModel type="text" name ="VerificationEmailAddress"required="true" [(ngModel)]="emailid">
                        <label for="">Email</label>
                    </div>
                    <button class="main-btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <!-- <form class="main-login" #form="ngForm" *ngIf="isforget && !isReset" (submit)="otpValidation()">
            <h1 class="form-title">Enter Code</h1>
    
            <p class="text">We've sent an email with a verification code to your registered email.</p>
            <input class="custom-Input" placeholder="Enter Verification Code" type="text" name ="Otp" required="true"  [(ngModel)]="otpfromuser">
    
            <div class="btn-grp">
                <button class="btn btn-primary Signup-btn" type="submit">Submit</button>
            </div>
    </form> -->
    <section>
        <div class="page-title">
            <img src="../../../assets/mainLogo.png"  class="page-logo">INSIGHT
        </div>
        <div class="form-box">
            <div class="form-value">
                <form action="" #form="ngForm" *ngIf="isforget && !isReset" (submit)="otpValidation()">
                    <h2>Enter Code</h2>
                    <div class="forgot-text">
                        <p class="text">We've sent an email with a verification code to your registered email.</p>
                    </div>
                    <div class="mail-input">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="text" required ngModel type="text" name ="VerificationEmailAddress"required="true"  [(ngModel)]="otpfromuser">
                        <label for="">OTP</label>
                    </div>
                    <button class="main-btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <!-- <form class="main-login" #form1="ngForm" *ngIf="isforget && isReset && isCorrectVerification" (submit)="passwordupdate(form1)">
            <h1 class="form-title">Reset Password</h1>
    
            <p class="text">Please type something you’ll remember</p>
            <h1 class="UserName-label">New Password</h1>
            <input class="UserName-Input" placeholder="Enter New Password"  ngModel type="text" name ="NewPassword" >
            <h1 class="Password-label">Confirm New Password</h1>
            <input class="UserPassword-Input" placeholder="Repeat Password" ngModel type="password" name="ConfirmPassword"  >
            <div class="btn-grp">
                <button class="btn btn-primary Signup-btn" type="submit">Reset</button>
            </div>
        </form> -->

        <section>
            <div class="page-title">
                <img src="../../../assets/mainLogo.png"  class="page-logo">INSIGHT
            </div>
            <div class="form-box">
                <div class="form-value">
                    <form action="" #form1="ngForm" *ngIf="isforget && isReset && isCorrectVerification" (submit)="passwordupdate(form1)">
                        <h2>Reset Password</h2>
                        <p class="text">Please type something you’ll remember</p>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" required ngModel type="password" name ="NewPassword" >
                            <label for="">New Password</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" required ngModel ngModel type="password" name="ConfirmPassword">
                            <label for="">Confirm Password</label>
                        </div>
                        <button class="login-btn"  type="submit">Reset</button>
                    </form>
                </div>
            </div>
        </section>